<template>
  <div class="chores">
    <div v-for="day in days" :key="day.name" class="day">
      <h2>{{day.name}}</h2>
      <p v-for="chore in day.chores" :key="chore.id">{{chore.name}}</p>
    </div>
  </div>
</template>

<script>
import Chore from './Chore.vue'
export default {
  name: 'Chores',
  data () {
    return {
      days: [
        {
          name: 'Sunday',
          chores: []
        },
        {
          name: 'Monday',
          chores: [
            {id: 1, name: 'dishes', date: '03/27/2018', completed: false},
            {id: 2, name: 'trash', date: '03/27/2018', completed: false}
          ]
        },
        {
          name: 'Tuesday',
          chores: [
            {id: 1, name: 'dishes', date: '03/27/2018', completed: false},
            {id: 2, name: 'trash', date: '03/27/2018', completed: false}
          ]
        },
        {
          name: 'Wednesday',
          chores: [
            {id: 1, name: 'dishes', date: '03/27/2018', completed: false},
            {id: 2, name: 'trash', date: '03/27/2018', completed: false},
            {id: 2, name: 'trash', date: '03/27/2018', completed: false},
            {id: 2, name: 'trash', date: '03/27/2018', completed: false}
          ]
        },
        {
          name: 'Thursday',
          chores: [
            {id: 1, name: 'dishes', date: '03/27/2018', completed: false},
            {id: 2, name: 'trash', date: '03/27/2018', completed: false}
          ]
        },
        {
          name: 'Friday',
          chores: [
            {id: 1, name: 'dishes', date: '03/27/2018', completed: false},
            {id: 2, name: 'trash', date: '03/27/2018', completed: false}
          ]
        },
        {
          name: 'Saturday',
          chores: []
        }
      ]
    }
  },
  components: {
    Chore
  }
}
</script>

<style scoped>
.chores {
  width: 95%;
  margin: auto;
}
.day {
  width: 14%;
  height: 250px;
  border: 1px solid green;
  float: left;
}
h2 {
  text-decoration: underline;
}
</style>
